* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header img {
    height: 40px;
}

header .container-fluid {
    padding: 0;
}


.bi-trash {
    color: black;
}

.form-control::placeholder {
    color: grey;
  }

  /* Rimuovi l'effetto blu di focus */
.accordion-button:focus {
    box-shadow: none; 
}

/* Cambia il colore del testo del bottone quando l'accordion è attivo (aperto) */
.accordion-button:not(.collapsed) {
    background-color: transparent; /* Cambia il colore di sfondo */
}

.accordion-body {
    font-size: 14px;
}




/* regole di debug macro */

/* main [class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    min-height: 80vh;
}

main [class^='row'] {
    border: 1px dashed red;
}

main [class^='col'] {
    height: 100px;
    background-color: #f1d2e7;
    border: 1px solid #d0a8eb;

} */