* {
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 40px;
}

header .container-fluid {
    padding: 0;
}


.bi-trash {
    color: black;
}

.form-control::placeholder {
    color: grey;
  }

/* regole di debug macro */

/* main [class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    min-height: 80vh;
}

main [class^='row'] {
    border: 1px dashed red;
}

main [class^='col'] {
    height: 100px;
    background-color: #f1d2e7;
    border: 1px solid #d0a8eb;

} */